

@page "/presupuestos/editar/{id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar Presupuesto</h3>

@if (presupuesto is null)
{
    <p>Cargando...</p>
}
else
{
    <PresupuestoForm @ref="presupuestoForm" Presupuesto="presupuesto" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    [Parameter]
    public int id { get; set; }
    private Presupuesto presupuesto;
    private PresupuestoForm presupuestoForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<Presupuesto>($"/api/presupuestos/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/presupuestos");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            presupuesto = responseHttp.Response;
        }
    }

    private async Task Edit()
    {
        var responseHttp = await repository.PutAsync("/api/presupuestos", presupuesto);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });

        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        presupuestoForm!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/presupuestos");
    }
}
