﻿

@page "/equiconss/editar/{id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar</h3>

@if (equicons is null)
{
    <p>Cargando...</p>
}
else
{
    <EquiConsForm @ref="equiconsForm" EquiCons="equicons" OnSubmit="Editar" ReturnAction="Return" />

}

@code {
    [Parameter]
    public int id { get; set; }
    private EquiCons equicons;
    private EquiConsForm equiconsForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<EquiCons>($"/api/equiConss/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/equiConss");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            equicons = responseHttp.Response;
        }
    }


    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/equiConss", equicons);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        equiconsForm!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/equiconss");
    }

}