﻿

@page "/Tareas/editar/{id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar</h3>

@if (tareas is null)
{
    <p>Cargando...</p>
}
else
{
    <TareaForm @ref="tareasform" Tarea="tareas" OnSubmit="Editar" ReturnAction="Return" />

}

@code {
    [Parameter]
    public int id { get; set; }
    private Tarea tareas;
    private TareaForm tareasform;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<Tarea>($"/api/tareas/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Tareas");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            tareas = responseHttp.Response;
        }
    }


    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/tareas", tareas);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        tareasform!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/Tareas");
    }

}